{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="auth-form">
        <h2>Вход в систему</h2>
        
        <form method="POST">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                <label for="username">Логин:</label>
                {{ form.username(class="form-control") }}
            </div>
            
            <div class="form-group">
                <label for="password">Пароль:</label>
                {{ form.password(class="form-control") }}
            </div>
            
            <button type="submit" class="btn-auth">Войти</button>
        </form>

        <div class="auth-links">
            <span>Нет аккаунта?</span>
            <a href="{{ url_for('register') }}">Зарегистрироваться</a>
        </div>
    </div>
</div>
{% endblock %}